*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    main{
        display: griddy;
        grid-template-columns: 1fr;
        gap: 10px;
        grid-template-areas: 
        "hd"
        "nav"
        "m"
        "sb"
        "ad"
        "ft";
    }

    div{
        border: 1px solid black;
    }
    .header{
        grid-area: hd;
    }

    .nav{
        grid-area: nav;
        display: flex;
        justify-content: space-between;
    }

    .article-area{
        grid-area: m;
    }

    .sidebar{
        grid-area: sb;
    }

    .advertising{
        grid-area: ad;
    }

    .footer{
        grid-area: ft;
    }

}
